.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: clamp(6rem, 10vw, 8rem);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 100%;
}

.textContent {
  flex: 1;
}

.illustration {
  width: 100%;
  max-width: 500px;

  flex: 1;
  aspect-ratio: 4 / 3;
}

.illustration > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in-out;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row-reverse;
    gap: var(--space-7);
  }

  .illustration {
    max-width: 100%;
  }

  .textContent {
    flex: 1;
  }

  .illustration:hover > img {
    transform: translateY(-10px);
  }
}

@media (min-width: 1024px) {
  .content {
    gap: var(--space-8);
  }
}
