.hero {
  display: flex;
  flex-direction: column-reverse;
}

.header {
  display: flex;
  justify-content: center;

  flex-direction: column;

  flex: 1;
}

.headline,
.description {
  margin-top: 0.45rem;
  margin-bottom: 0.45rem;
}

.headline {
  align-self: start;
  display: flex;
  flex-direction: column;
  font-size: clamp(4rem, 8vw, 5rem);
}

.avatar {
  flex: 1;

  align-self: center;
  max-width: 500px;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.role {
  color: var(--color-brand-primary);

  font-size: clamp(1.5rem, 3vw, 2rem);
}

.viewWorkBtn {
  margin-top: var(--space-6);
  text-decoration: none;
  align-self: start;
}

/* Tablet */
@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    gap: var(--space-6);
  }

  .headline,
  .description {
    text-align: left;
  }

  .description {
    padding-left: var(--space-4);
    border-left: 3px solid var(--color-brand-primary);
  }

  .header {
    align-items: start;
    gap: var(--space-1);
  }

  .avatar {
    max-width: 100%;
  }

  .avatar > img {
    border: 1px solid var(--color-brand-light);
    border-radius: 10px;

    --shadow-color: 142 71% 45%;
    box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

    transition: border-color 200ms ease-in-out;
  }

  .avatar::before {
    content: '<img';
  }

  .avatar::after {
    content: '/>';

    display: flex;
    justify-content: end;
  }

  .avatar::before,
  .avatar::after {
    color: var(--color-brand-primary);
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
  }

  .avatar:hover > img {
    border-color: var(--color-brand-primary);
  }

  .avatar:hover::before,
  .avatar:hover::after {
    opacity: 1;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero {
    gap: var(--space-8);
  }

  .description {
    padding-left: var(--space-5);
  }

  .header::before {
    content: "// Hi, I'm";
    color: var(--color-brand-primary);
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
  }

  .header:hover::before {
    opacity: 1;
  }
}
