.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  flex-direction: column;
}

.headline,
.description {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.cta {
  max-width: 120px;

  display: grid;
  place-items: center;

  padding: var(--space-3);
  margin-top: var(--space-5);
  border-radius: 6px;

  font-size: var(--font-size-0);
  text-decoration: none;
  color: var(--color-text-primary);
  background-color: var(--color-brand-primary);
}

.avatar {
  max-width: 50%;
  width: 750px;
}

img {
  width: 100%;
  height: auto;
}

.highlight {
  color: var(--color-brand-primary);
}

/* Tablet */
@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .headline,
  .description {
    text-align: left;
  }

  .description {
    padding-left: var(--space-4);
    border-left: 3px solid var(--color-brand-primary);
  }

  .headline {
    font-size: clamp(1.5rem, 5vw, 4.5rem);
  }

  .header {
    max-width: 45%;
    align-items: start;
  }

  .avatar {
    display: block;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .description {
    padding-left: var(--space-5);
  }
}
