.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  flex-direction: column;
}

.headline,
.description {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.cta {
  max-width: 120px;

  display: grid;
  place-items: center;

  padding: var(--space-3);
  margin-top: var(--space-5);
  border-radius: 6px;

  font-size: var(--font-size-0);
  text-decoration: none;

  color: var(--color-cta);
  background-color: var(--color-cta-bg);
  border: 1px solid var(--color-cta-border);

  transition: background-color 200ms ease-in-out;
}

.avatar {
  max-width: 50%;
  width: 750px;
}

img {
  width: 100%;
  height: auto;
}

.highlight {
  color: var(--color-brand-primary);
}

/* Tablet */
@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .headline,
  .description {
    text-align: left;
  }

  .description {
    padding-left: var(--space-4);
    border-left: 3px solid var(--color-brand-primary);
  }

  .headline {
    font-size: clamp(1.5rem, 5vw, 4.5rem);
  }

  .header {
    max-width: 45%;
    align-items: start;
  }

  .cta:hover {
    background-color: var(--color-cta-bg-hover);
  }

  .avatar {
    display: block;
  }

  .avatar > img {
    border: 1px solid var(--color-brand-light);
    border-radius: 10px;

    --shadow-color: 142 71% 45%;
    box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

    transition: border-color 200ms ease-in-out;
  }

  .avatar::before {
    content: '<img';
  }

  .avatar::after {
    content: '/>';

    display: flex;
    justify-content: end;
  }

  .avatar::before,
  .avatar::after {
    color: var(--color-brand-primary);
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
  }

  .avatar:hover > img {
    border-color: var(--color-brand-primary);
  }

  .avatar:hover::before,
  .avatar:hover::after {
    opacity: 1;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .description {
    padding-left: var(--space-5);
  }

  .header::before {
    content: '// Hello, World!';
    color: var(--color-brand-primary);
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
  }

  .header:hover::before {
    opacity: 1;
  }
}
